.pagina {
  background-color:beige;
  width:100%;
  height:auto;
  overflow:auto;
}

.button1 {
    height:50px;
    width:auto;
    background-color:yellow;
    border:0;
    font-weight:bold;
    text-decoration: underline;
    color:black;
  }
    
.button2 {
    width:auto;
    height:50px;
    background-color:orange;
    border:0;font-weight: bold;
    text-decoration: underline;
    color:black;
    }
    
.header-content {
      width:100%;
      background-color:orange;
      overflow:auto;
  }
    
.content-footer {
      margin-top:5px;
      padding:5px;
      clear:both;
      width:100%;
      background-color:darkgrey;
      text-align:center;
  }
    
.menumio {
      background-color:brown;
      padding:5px;
      color:black;
  }

.contenitori {
      width:100%;
      overflow:auto;
      height:auto;
      padding:1px;
    }
    
    
.cont {
      overflow:auto;
      height:auto;
      float:left;
      padding:1%;
      margin:1%;
}
      #cont1.cont 
      {
        background-color:grey;
        width:60%;
      }
      #cont2.cont 
      {
        background-color:blue;
        width:32%;
      }
    

.conthead {
      overflow:auto;
      width:auto;
      height:auto;
      padding:10px;
      float:left;
      text-align:center;
      p{
        padding-top:2%;
      }
    }