.button {
  height: 50px;
  width: 100px;
  background-color: yellow;
  border: 0;
  font-weight: bold;
  text-decoration: underline; }

.button2 {
  height: 50px;
  width: 100px;
  background-color: orange;
  border: 0;
  font-weight: bold;
  text-decoration: underline; }

footer {
  clear: both; }

header {
  width: 100%;
  background-color: orange; }

.content-footer {
  width: 100%;
  background-color: darkgrey;
  text-align: center; }

.menu {
  width: 100%;
  background-color: brown; }

.contenitori {
  width: 100%;
  overflow: auto; }

.cont1 {
  overflow: auto;
  width: 60%;
  background-color: grey;
  float: left;
  padding: 10px; }

.cont2 {
  overflow: auto;
  width: 35%;
  background-color: blue;
  float: right;
  padding: 10px; }
