/* SFCC Campus Newsletter*/

.academy {
    color: #454545;
    background-color: #5b657e;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: none;

    h2, h3, p {
        color: #5b657e;
    }

    &__card {
        padding: 30px;
        margin: 60px auto;
        background-color: #fff;
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
    }

    &__profile-info {
        label {
            display: none;
        }
    }

    &__profile-gender {
        text-align-last: left;
        label {
            display: none;
        }
    }
    .form-row {
        margin: 0;
    }

    input[type=submit] {
        width: 100%;
        text-transform: uppercase;
        color: #fff;
        background-color: #5b657e;
        border: none;
        padding: 8px 0;
    }
}